/* Global selectors */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global class*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-common {
  padding: 0px 20px;
}
.main {
  position: relative;
}
.hide {
  display: none;
}
.visible {
  display: flex;
}
.opacity {
  opacity: 1;
}
